In [12]:
#main
import pandas as pd
import numpy as np

#plot
from matplotlib import pyplot as plt
import seaborn as sns

#dop
import re
from tqdm import tqdm  


# option
%matplotlib inline
pd.set_option("display.max_columns", 300)
plt.rcParams['figure.figsize'] = (15, 10)


PATH_TRAIN = 'data/train.csv'
PATH_TEST = 'data/test.csv'
TARGET_COL = 'SalePrice'

In [122]:
# Загружаем данные выделяем 'Y'

train = pd.read_csv(PATH_TRAIN)
test = pd.read_csv(PATH_TEST)
y_train_main = train[TARGET_COL]
df = pd.concat([train.drop(TARGET_COL, axis=1), test], ignore_index=True)

In [123]:
# создание таблицы с пропусками

def nan_info(df):
    global null_view
    try:
        null_view = df[[col for col in df.columns if df[col].isna().sum() > 0]].isna().sum().sort_values(ascending = True)
        null_view = pd.DataFrame(null_view, columns=['NANs'])
        null_view['PERCENT'] = null_view.NANs.apply(lambda x: round((x/len(df))*100, 2))
        null_view['TYPE'] = df.dtypes
    except:
        print('---[ ERROR ]---')
        return null_view
    return null_view

NaN_info(df)

              NANs  PERCENT     TYPE
TotalBsmtSF      1     0.03  float64
GarageArea       1     0.03  float64
GarageCars       1     0.03  float64
KitchenQual      1     0.03   object
Electrical       1     0.03   object
BsmtUnfSF        1     0.03  float64
BsmtFinSF2       1     0.03  float64
BsmtFinSF1       1     0.03  float64
SaleType         1     0.03   object
Exterior1st      1     0.03   object
Exterior2nd      1     0.03   object
Functional       2     0.07   object
Utilities        2     0.07   object
BsmtHalfBath     2     0.07  float64
BsmtFullBath     2     0.07  float64
MSZoning         4     0.14   object
MasVnrArea      23     0.79  float64
MasVnrType      24     0.82   object
BsmtFinType1    79     2.71   object
BsmtFinType2    80     2.74   object
BsmtQual        81     2.77   object
BsmtCond        82     2.81   object
BsmtExposure    82     2.81   object
GarageType     157     5.38   object
GarageCond     159     5.45   object
GarageQual     159     5.45   object
GarageYrBlt    159     5.45  float64
GarageFinish   159     5.45   object
LotFrontage    486    16.65  float64
FireplaceQu   1420    48.65   object
Fence         2348    80.44   object
Alley         2721    93.22   object
MiscFeature   2814    96.40   object
PoolQC        2909    99.66   object

In [124]:
col_nan_how_no = ['Alley','BsmtQual', 'BsmtCond','BsmtExposure','BsmtFinType1','BsmtFinType2',
                  'FireplaceQu','GarageType','GarageFinish','GarageQual','GarageCond',
                  'PoolQC','Fence','MiscFeature']

def nan_how_no(df, col_list):
    for col in col_list:
        df[col].replace(np.nan, 'No', inplace=True)
        
        
nan_how_no(df, col_nan_how_no)
nan_info(df)

              NANs  PERCENT     TYPE
BsmtUnfSF        1     0.03  float64
GarageCars       1     0.03  float64
KitchenQual      1     0.03   object
Electrical       1     0.03   object
TotalBsmtSF      1     0.03  float64
GarageArea       1     0.03  float64
BsmtFinSF2       1     0.03  float64
SaleType         1     0.03   object
Exterior2nd      1     0.03   object
Exterior1st      1     0.03   object
BsmtFinSF1       1     0.03  float64
BsmtFullBath     2     0.07  float64
BsmtHalfBath     2     0.07  float64
Utilities        2     0.07   object
Functional       2     0.07   object
MSZoning         4     0.14   object
MasVnrArea      23     0.79  float64
MasVnrType      24     0.82   object
GarageYrBlt    159     5.45  float64
LotFrontage    486    16.65  float64

In [133]:
# def encoding(df, LE):
#     for col in df.columns:
#         if df[col].dtype = 'object':
#             df[]



def get_variable(df, col_pred):
    # Делит данные по индексу которые нужно предсказать
    y_now = df[col_pred].copy()
    x_now = df[set(df.columns) - set(col_pred)].copy()
    index_train = y_now[~y_now.isna()].index
    
    x_train = x_now.drop(index=index_train)
    y_train = y_now.drop(index=index_train)
    x_now.drop(index=index_train, inplace=True)
    y_now.drop(index=index_train, inplace=True)
    return x_train, y_train, x_now, y_now


def nan_predict(df):
    
    import lightgbm as lgb
    from sklearn.preprocessing import LabelEncoder
    
    LE = LabelEncoder()
    nan_info(df)
    
    predicted_features = null_view.index
    
    # Разделение на датафрейм
    for col_pred in predicted_features: 
        x_train, y_train, x_target, y_target = get_variable(df, col_pred)
        
    
nan_predict(df)